$sidebar-collapsed-width: 80px;
$sidebar-expanded-width: 260px;
$content-max-width: 1300px;

.layout-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #cfeaff;
  overflow-x: hidden; 
}

.content-area {
  height: 100vh;
  overflow-y: auto; 
  padding-left: 2rem; 
  padding-right: 2rem;  
  
  transition: margin-left 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), 
              width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: calc(100% - #{$sidebar-collapsed-width}); 
  margin-left: $sidebar-collapsed-width; 
}

.content-wrapper {
    width: 100%;
    max-width: $content-max-width;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-sizing: border-box; 
    
    padding: 0; 
}

.layout-container.sidebar-expanded .content-area {
  width: calc(100% - #{$sidebar-expanded-width}); 
  margin-left: $sidebar-expanded-width;
}
